*.dill
*.gif
*.txt
*.png
*.pyc
*.json
*.bmp
*.psd
*.csv
*.pptx
/symulacja-krwi-materialy/fitkrew.plt
/symulacja-krwi-materialy/main.pdf
/symulacja-krwi-materialy/parametry/D/D.pdf
/symulacja-krwi-materialy/parametry/dt_ox/dt_ox.aux
/symulacja-krwi-materialy/parametry/dt_ox/dt_ox.log
/symulacja-krwi-materialy/parametry/dt_ox/dt_ox.out
/symulacja-krwi-materialy/parametry/dt_ox/dt_ox.pdf
/symulacja-krwi-materialy/parametry/dt_ox/dt_ox.synctex.gz
/symulacja-krwi-materialy/parametry/dt_ox/dt_ox.tex
/symulacja-krwi-materialy/parametry/dt_ox/parametry-szablon.aux
/symulacja-krwi-materialy/parametry/dt_ox/parametry-szablon.log
/symulacja-krwi-materialy/parametry/dt_ox/parametry-szablon.out
/symulacja-krwi-materialy/parametry/dt_ox/parametry-szablon.pdf
/symulacja-krwi-materialy/parametry/dt_ox/parametry-szablon.synctex.gz
/symulacja-krwi-materialy/parametry/dt_ox/parametry-szablon.tex
/symulacja-krwi-materialy/parametry/dth/dth.pdf
/symulacja-krwi-materialy/parametry/Dv/debug.log
/symulacja-krwi-materialy/parametry/Dv/Dv.pdf
/symulacja-krwi-materialy/parametry/Dv/parametry-szablon.aux
/symulacja-krwi-materialy/parametry/Dv/parametry-szablon.log
/symulacja-krwi-materialy/parametry/Dv/parametry-szablon.out
/symulacja-krwi-materialy/parametry/Dv/parametry-szablon.synctex.gz
/symulacja-krwi-materialy/parametry/Dv/parametry-szablon.tex
/symulacja-krwi-materialy/parametry/k/k.pdf
/symulacja-krwi-materialy/parametry/k/parametry-szablon.aux
/symulacja-krwi-materialy/parametry/k/parametry-szablon.log
/symulacja-krwi-materialy/parametry/k/parametry-szablon.out
/symulacja-krwi-materialy/parametry/k/parametry-szablon.synctex.gz
/symulacja-krwi-materialy/parametry/k/parametry-szablon.tex
/symulacja-krwi-materialy/parametry/qin/parametry-szablon.tex
/symulacja-krwi-materialy/parametry/qin/qin.aux
/symulacja-krwi-materialy/parametry/qin/qin.log
/symulacja-krwi-materialy/parametry/qin/qin.out
/symulacja-krwi-materialy/parametry/qin/qin.pdf
/symulacja-krwi-materialy/parametry/qin/qin.synctex.gz
/symulacja-krwi-materialy/parametry/qin/qin.tex
/symulacja-krwi-materialy/prezentacja — Antek.pptx
/symulacja-krwi-materialy/prezentacja — Karol.pptx
/symulacja-krwi-materialy/prezentacja - Tomek.pptx
/symulacja-krwi-materialy/Symulacja powstawania układu krwionośnego na siatce naczyń włosowatych/dr.psd
/symulacja-krwi-materialy/Symulacja powstawania układu krwionośnego na siatce naczyń włosowatych/IEEEtran.cls
/symulacja-krwi-materialy/Symulacja powstawania układu krwionośnego na siatce naczyń włosowatych/main.aux
/symulacja-krwi-materialy/Symulacja powstawania układu krwionośnego na siatce naczyń włosowatych/main.log
/symulacja-krwi-materialy/Symulacja powstawania układu krwionośnego na siatce naczyń włosowatych/main.pdf
/symulacja-krwi-materialy/Symulacja powstawania układu krwionośnego na siatce naczyń włosowatych/main.synctex.gz
/symulacja-krwi-materialy/Symulacja powstawania układu krwionośnego na siatce naczyń włosowatych/main.tex
/symulacja-krwi-materialy/Symulacja powstawania układu krwionośnego na siatce naczyń włosowatych/prezentacja.pptx
/symulacja-krwi-materialy/Symulacja powstawania układu krwionośnego na siatce naczyń włosowatych/r.psd
/symulacja-krwi-materialy/Symulacja_powstawania_uk_adu_krwiono_nego_na_siatce_naczy__w_osowatych.pdf
/symulacja-krwi-materialy/szawello-raport.pdf
/.pylint.d/main1.stats
/backup0811/geometria_prostokatna/draw_net.py
/backup0811/geometria_prostokatna/main.py
/backup0811/geometria_prostokatna/triangular_net.py
/backup0811/geometria_walcowa/funkcje_okrag.py
/backup0811/geometria_walcowa/z_okregu/draw_net.py
/backup0811/geometria_walcowa/z_okregu/main.py
/backup0811/geometria_walcowa/z_okregu/triangular_net.py
/backup0811/geometria_walcowa/ze_srodka/draw_net.py
/backup0811/geometria_walcowa/ze_srodka/main.py
/backup0811/geometria_walcowa/ze_srodka/triangular_net.py
/backup0811/inne/benchmark.docx
/backup0811/inne/main_do_kroku_czasowego_karol.py
/backup0811/inne/old_main.py
/backup0811/inne/test_odleglosci.py
/backup0811/nierozdzielony_kod/nierozdzielona_symulacja_krwi.py
/backup0811/old_geoms/cylindrical_geom.py
/backup0811/old_geoms/donut_geom.py
/backup0811/old_geoms/rectangular_geom.py
/backup0811/upstream-in-blood.py
/krew-backup/triangular_net.py
/params/k/k0.0005D0.2Dv0.4/k0.0005D0.2Dv0.4 — skrót.lnk
/params/test.py
/symulacja-krwi-materialy/certificate/certificate.aux
/symulacja-krwi-materialy/certificate/certificate.log
/symulacja-krwi-materialy/certificate/certificate.pdf
/symulacja-krwi-materialy/certificate/certificate.synctex.gz
/symulacja-krwi-materialy/certificate/certificate.tex
/symulacja-krwi-materialy/poster/abstract.aux
/symulacja-krwi-materialy/poster/abstract.bbl
/symulacja-krwi-materialy/poster/abstract.blg
/symulacja-krwi-materialy/poster/abstract.log
/symulacja-krwi-materialy/poster/abstract.pdf
/symulacja-krwi-materialy/poster/abstract.synctex.gz
/symulacja-krwi-materialy/poster/abstract.tex
/test.py
/test2.py
/test3.py
